.form-dados {
    width: 100%;
    /* border: 1px solid tomato; */
}

.form-control {
    margin: 5px 0;
    width: 100%;
}

.form-control label {
    display: block;
    font-weight: bold;
    margin: 15px 0;
}

.form-control input, textarea {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 10px 5px;
}

.form-one-row {
    display: flex;
    justify-content: space-between;
}

.form-titulo {
    font-weight: 900;
    margin-bottom: 5px;
}

.form-texto-span {
    font-style: italic;
    word-spacing: 10px;
}