@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700;800&display=swap');

:root {
  --cor--primaria: #203b4e;
  --cor--secundaria: #ee6c4d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 80VH;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px 50px;
}

header {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid gainsboro;
}

header img {
  width: 100px;
}

header h1 {
  color: cornflowerblue;
  margin-left: 20px;
}

header span {
  color: coral;
}

main {
  width: 100vw;
  height: 75vh;
  margin: 50px;
}
.principal {
  display: flex;
  align-items: center;
}

.section-left {
  width: 55vw;
  height: 70vh;
  margin-right: 20px;
  padding: 20px;
}

.section-left h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: cornflowerblue;
}

.section-left p {
  font-size: 1.1rem;
  text-align: justify;
  margin-bottom: 30px;
}

.section-right {
  width: 45vw;
  height: 70vh;
  text-align: right;
}

.section-right img {
  width: 90%;
  height: 100%;
}

footer {
  margin: 20px 50px;
  padding-top: 10px;
  border-top: 1px solid gainsboro;
}

footer p {
  text-align: right;
}

.footer-etc {
  font-weight: 900;
  color: cornflowerblue;
}
.footer-ano {
  color: coral;
  font-weight: 600;
}