@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700;800&display=swap");

:root {
    --cor--primaria: #203b4e;
    --cor--secundaria: #ee6c4d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 80vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    margin: 10px 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid gainsboro;
}

header img {
    width: 100px;
}
header h1 {
    color: cornflowerblue;
    margin-left: 20px;
}

header span {
    color: coral;
}

.principal {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 50px;
    width: 100vw;
}

.section-left {
    width: 45vw;
    height: 70vh;
    margin-right: 20px;
    padding: 20px;
}

.section-left h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: cornflowerblue;
}

.section-left p {
    font-size: 1.1rem;
    text-align: justify;
    margin-bottom: 3em;
}

.section-right {
    width: 45vw;
    height: 70vh;
    text-align: right;
}

.section-right img {
    width: 90%;
    height: 100%;
}

.section-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.btn {
    /* background-color: rgb(112, 112, 235); */
    background-color: #0889e6;
    width: 180px;
    padding: 8px 55px;
    margin-bottom: 5px;
    border-radius: 10px;
    color: azure;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
}

.btn-elogio {
    background-color: #ee6c4d;
}

.btn-reclamacao {
    background-color: #eb3406;
}

.btn-relato {
    background-color: #118d47;
    width: 100%;
    margin-top: 15px;
}

footer {
    margin: 20px 50px;
    padding-top: 10px;
    border-top: 1px solid gainsboro;
}

footer p {
    text-align: right;
}

.footer-etc {
    font-weight: 900;
    color: cornflowerblue;
}
.footer-ano {
    color: coral;
    font-weight: 600;
}

/*
tabelas
*/
table {
    border-collapse: collapse;
    width: 92vw;
    margin-top: 20px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
