@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700;800&display=swap");
@import url('buttons.css');
@import url('tabelas.css');
@import url('responsividade.css');
@import url('forms.css');
:root {
    --cor--primaria: #203b4e;
    --cor--laranja: coral;
    --cor--azul: cornflowerblue;
    --cor--azul-claro: lightsteelblue;
    --cor--roxa: rgb(112, 112, 235);
    --cor--vermelho: #d1340c;
    --cor--verde: #118d47;
    --cor--cinza: gainsboro;
    --cor--branco: #fff;
    --cor-amarelo: #FFBF00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 98vw;
    height: 90vh;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
header {
    display: flex;
    align-items: center;
    margin: 10px 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--cor--cinza);
}

header img {
    width: 100px;
}
header h1 {
    color: var(--cor--azul);
    margin-left: 20px;
}

header span {
    color: var(--cor--secundaria);
}
header a {
    display: flex;
}
main {
    margin: 0 50px;
}

.principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-left {
    width: 45vw;
    margin-right: 20px;
    padding: 20px;
}

.section-left p {
    font-size: 1.2rem;
    text-align: justify;
    margin: 3em 0;
}

.section-right {
    width: 40vw;
    height: 70vh;
    text-align: right;
}

.section-right img {
    width: 100%;
    height: 100%;
}

.section-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-dados {
    width: 100%;
}

.section-dados h3,
p {
    margin: 12px 0 0 0;
    text-align: justify;
}

.titulo-h2 {
    margin-bottom: 20px;
    text-align: justify;
    font-size: 3.5rem;
    color: var(--cor--azul);
    width: 100%;
}

.texto {
    font-style: italic;
    word-spacing: 10px;
    width: 98%;
    margin-left: 10px;
}

.section-btn {
    padding: 20px 0 0 0;
}

footer {
    margin: 0px 50px;
    border-top: 1px solid var(--cor--cinza);
}

footer p {
    text-align: right;
    margin: 2px 30px;
}

.footer-etc {
    font-weight: 900;
    color: var(--cor--azul);
}

.footer-ano {
    color: var(--cor--laranja);
    font-weight: 600;
}

@media (width > 1370px) {
    .btn-relato {
        padding: 35px;
    }
}

@media (min-width: 800px) and (max-width: 1370px) {
    .section-left {
        width: 45%;
    }

    .section-left p {
        font-size: 1em;
        margin: 0 0 15px 0;
    }

    .section-right {
        display: flex;
        align-items: center;
        width: 45%;
    }

    .section-right img {
        width: 100%;
        height: 80%;
    }

    .titulo-h2 {
        font-size: 2.5em;
    }

    .btn {
        display: block;
        width: 100%;
        margin-top: 5px;
    }

    table {
        width: 100%;
    }
    td,
    th {
        font-size: 0.8em;
        padding: 8px;
    }
}

@media (max-width: 795px) {
    main {
        margin: 0 10px;
        padding: 0;
    }

    .section-left {
        width: 100%;
    }

    .section-left p {
        font-size: 1em;
        margin: 0 10px;
    }

    .section-right {
        display: none;
    }

    .titulo-h2 {
        font-size: 2em;
    }
    
    .texto {
        width: 90%;
    }
    
    .btn {
        display: block;
        width: 98%;
        margin-top: 5px;
    }

    .section-btn {
        padding: 25px 0 0 0;
    }

    table {
        width: 98%;
    }
    td,
    th {
        font-size: 0.6em;
        padding: 8px;
    }
}
